@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Footer -->
<footer class="footer">
    <img class="footer-effect" src="~/images/backgrounds-effects/background-lines-white-right.svg" alt="background effect">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <img src="~/images/logos/logotype-white.svg">
                <p class="logo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div class="contact-info">
                <div class="contact-title">Company</div>
                <ul class="contact">
                    <li><a href="/about">About</a></li>
                    <li><a href="/features">Features</a></li>
                    <li><a href="/work">Works</a></li>
                    <li><a href="/career">Career</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <div class="contact-title">Help</div>
                <ul class="contact">
                    <li><a href="/support">Customer Support</a></li>
                    <li><a href="/delivery">Delivery Details</a></li>
                    <li><a href="/agreements/terms">Terms & Conditions</a></li>
                    <li><a href="/agreements/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <div class="contact-title">Resources</div>
                <ul class="contact">
                    <li><a href="/free/ebook">Free eBooks</a></li>
                    <li><a href="/tutorials/development">Development Tutorial</a></li>
                    <li><a href="/guides/how-to-blog">How to - Blog</a></li>
                    <li><a href="https://youtube.com" target="_blank">Youtube Playlist</a></li>
                </ul>
            </div>
            <div class="contact-info">
                <div class="contact-title">Link</div>
                <ul class="contact">
                    <li><a href="/free/ebook">Free eBooks</a></li>
                    <li><a href="/tutorials/development">Development Tutorial</a></li>
                    <li><a href="/guides/how-to-blog">How to - Blog</a></li>
                    <li><a href="https://youtube.com" target="_blank">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
    </div> 
</footer>

<!-- Footer II -->
<footer class="mini-footer">
    <div class="container">
        <div class="mini-footer-title">© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>
        <div class="footer-social-media">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/feed/" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>