@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- map -->
<section class="map">
    <iframe src="@Model.Value("googleMap")" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>