@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var subscribeFormModel = new Crito.Models.SubscribeFormModel();
}

<!-- News form -->
<section class="news-form">
    <img class="effect" src="~/images/backgrounds-effects/background-wavy-lines.svg">
    <div class="container">
        <h3 class="news-title">Get News Updates By Signup</h3>
        @using (Html.BeginUmbracoForm("Index", "Subscribers", FormMethod.Post))
        {
            <div class="invalid" asp-validation-summary="All"></div>

            <input asp-for="@subscribeFormModel.Email" class="signup-input" type="email" placeholder="username@domain.com" onkeyup="validateSubscriber(event)">
            <button class="theme-btn" type="submit">Subscribe <i class="fa-light fa-arrow-up-right"></i></button>
            <div class="error-text" id="errorSubscriber"></div>
        }
    </div>
</section>