@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="testimonial border">
    <h5 class="orange-text">Testimonial</h5>
    <h3 class="testimonial-title">What Our Client Says</h3>
    <div class="review">
        <div class="review-flex">
            <div class="review-stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
            <div class="review-profile">
                <div class="profile-picture border">
                    <img src="./images/pictures/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="profile picture of reviewer">
                </div>
                <div class="profile-info">
                    <div>Cassandra Warren</div>
                    <p>Business Manager, Dorfus</p>
                </div>
            </div>
        </div>
        <div class="review-flex">
            <div class="review-stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
            <div class="review-profile">
                <div class="profile-picture">
                    <img src="./images/pictures/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="profile picture of reviewer">
                </div>
                <div class="profile-info">
                    <div>Amanda Tulling</div>
                    <p>Senior Developer, Square</p>
                </div>
            </div>
        </div>
        <div class="review-flex">
            <div class="review-stars">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
            <div class="review-profile">
                <div class="profile-picture">
                    <img src="./images/pictures/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="profile picture of reviewer">
                </div>
                <div class="profile-info">
                    <div>Jack McDogglas</div>
                    <p>Key Account Manager, Gobona</p>
                </div>
            </div>
        </div>
    </div>
    <a class="black-theme-btn">All Reviews <i class="fa-light fa-arrow-up-right"></i></a>
</div>