@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_LayoutWithShowcase.cshtml";
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
}

@await Html.PartialAsync("_LogosSection")
@await Html.PartialAsync("_FeaturesSection")
@await Html.PartialAsync("_AboutCompanySection")
@await Html.PartialAsync("_OurServices")


@await Html.PartialAsync("_ChooseUs")



@await Html.PartialAsync("_StudiesSection")
<section class="our-team">
    <div class="container">
        @await Html.PartialAsync("_OurTeam")
        @await Html.PartialAsync("_TestimonialSection")
    </div>
</section>