@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.OurServices)Model.Content;
}

<div class="box">
    <div class="top-line"></div>
    <div class="box-title">@content.Value("ourServiceTitle")</div>
    <p>@content.Value("ourServiceDescription")</p>
    <div class="link">
        <a href="@content.Value("ourServiceLink")"><i class="fa-light fa-arrow-right"></i></a>
    </div>
</div>